<div class="company-name">
    <img src="../images/Logo1.png" alt="logo" />
    <h1>The WDD330 Inn</h1>
    <div>
      <aside>dia y hora</aside>
    </div>
  </div>
  <nav>

    <ul id="primaryNav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="reservations.html">Reservations</a></li>
      <li><a href="aboutus.html">About Us</a></li>
      <li>
        <a href="https://www.facebook.com" target="_blank">
          <img class="media" src="images/facebook.webp" alt="facebook" /></a>
        <a href="http://www.Instagram.com" target="_blank">
          <img class="media" src="images/instagram.webp" alt="instagram" /></a>
      </li>
    </ul>
    <div id="hamburgerBtn">
      <button>
        <span>&#9776;</span>
        <span>X</span>
      </button>
      <a href="https://www.facebook.com" target="_blank"><img src="images/facebook.webp" alt="facebook" /></a>
      <a href="http://www.Instagram.com" target="_blank">
        <img class="media" src="images/instagram.webp" alt="instagram" /></a>
    </div>
  </nav>