<div class="f-wrapper">
    <div class="f-logo">
      <img src="images/logo1.png" alt="logo">
    </div>
    <div class="address">
      <h2>The WDD330 Inn</h2>
      <a href="https://goo.gl/maps/mwkH1ERpTsoVr86j7">
        <p>4100 Mustard Dr #100<br>
          Nephi, UT</p>
      </a>
    </div>
    <div class="contact">
      <p>Info@TheWDD330Inn.com</p>
      <p>+(555) 123-4567</p>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; <span id="year">2022</span> | Team 8</p>
    <p>Cristian Fernandez</p>
    <p>Canyon Atwood</p>
    <p>Enrique Terrones Nava</p>
    <p>David Morales</p>
    <p>Ricardo Bacilio</p>
    <p>Issac Salirrosas</p>

  </div>